.sfa-loading-layer {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 505;
  width: 100%;
  min-height: 100%;
  background-color: #000;
  overflow: hidden;
  opacity: 0;
  transition: right 0.4s ease-out, opacity 0.2s ease-in, visibility 0.2s ease-in;

  &.sfa-loading-open {
    position: fixed;
    right: 0px;
    width: 100%;
    opacity: 1;
  }

  &.sfa-loading-close {
    opacity: 0 !important;
  }

  .sfa-loading-bgLayer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
  }

  .sfa-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    width: 161px;
    height: 49px;
    line-height: 49px;
    margin-top: -24px;
    margin-left: -80px;
    border-radius: 1px;
    text-align: center;

    .sfa-loading-icon-tab {
      width: 100%;
      height: 100%;
      overflow: hidden;
      margin: 0 auto;
    }

    span {
      display: inline-block;
      color: #6b6b6b;
      font-size: 18px;
      padding-right: 3px;
      vertical-align: middle;
    }

    &.sfa-loading-dark,
    &.sfa-loading-light {
      .sfa-loading-tab-bglogo {
        display: inline-block;
        background: url(../images/tab_loading__bg_logo_dark.png) no-repeat;
        background-size: 147px 48px;
        height: 48px;
        width: 147px;
      }
    }

    .sfa-loading-tab-toplight {
      display: inline-block;
      position: relative;
      height: 60px;
      width: 12px;
      top: -60px;
      left: -78px;
      background-color: rgba(255, 255, 255, 0.5);
      -webkit-transform: skew(20deg);
      transform: skew(20deg);
      -webkit-animation: 1s lodingframe infinite;
      animation: 1s lodingframe infinite;
    }

    &.sfa-loading-dark {
      .sfa-loading-tab-bglogo {
        background-image: url(../images/tab_loading__bg_logo_dark.png);
        background-color: rgba(0, 0, 0, 0.6);
      }

      .sfa-loading-tab-toplight {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.sfa-view {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 505;
  width: 100%;
  min-height: 100%;
  background-color: #000;
  overflow: hidden;
  opacity: 0;
  transition: right 0.4s ease-out, opacity 0.2s ease-in, visibility 0.2s ease-in;

  &.sfa-view-open {
    right: 0;
    width: 100%;
    opacity: 1;
    visibility: visible;
  }
}

/* content */
.sfa-content {
  background-color: #f2f2f2;

  .sfc-video-page-vertical {
    background-color: #000;
    -webkit-user-select: none;
    user-select: none;
    height: 100vh;

    &.launchscreen {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: auto;
    }

    .sfc-video-page-vertical-container {
      .sfc-video-page-vertical-player-container {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .sfc-video-page-vertical-player-bplayer {
          position: absolute;
          width: 100%;
          height: 100%;
          overflow: hidden;
          z-index: 1;

          .b-player-video {
            width: 100%;
            height: 100%;
            background: transparent;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@keyframes lodingframe {
  0% {
    left: -78px;
  }
  100% {
    left: 73px;
  }
}

@-webkit-keyframes lodingframe {
  0% {
    left: -78px;
  }
  100% {
    left: 73px;
  }
}
